<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<main class="container my-5">
    <div class="row">
        <div class="col-md-4 offset-3 ">
            <h3 th:utext="#{txt.login}"></h3>
            <div th:if="${error}" class="alert alert-danger my-3">
                Fehler beim Login.
            </div>
            <form method="post" action="/sess/login">
                <input type="text" class="form-control mb-4 " name="email" th:placeholder="#{usr.email}">
                <input type="password" class="form-control mb-4" name="password" th:placeholder="#{usr.password}">
                <button th:utext="#{btn.signin}" class="btn btn-success">Einloggen</button>
            </form>
        </div>
    </div>
</main>
<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>