<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task App</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container ">
        <a href="tasks/new" role="button">
            <button class="btn btn-outline-primary" type="button" th:utext="#{btn.new.task}"></button>
        </a>
        <form action="/tasks" method="get" class="d-flex position-relative top-0 end-0" role="search">
            <input class="form-control me-2" type="search" name="keyword" th:value="${keyword}"
                   th:placeholder="#{lbl.search}" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit" th:utext="#{btn.search}"></button>
        </form>

        <div>
            <a href="?lang=de">DE</a>
            <a href="?lang=en">EN</a >
        </div>

        <div>
            <h5 th:text="${emailName}" class="form-text"></h5>
            <a href="/sess/logout">
                <button class="btn btn-outline-danger btn-sm" type="button" th:utext="#{btn.logout}"></button>
            </a>
        </div>
    </div>
</nav>
<br>

<main class="container">
    <div class="row">
        <div class="col">
            <h1 th:text="${title}"></h1>
            <hr>
            <div th:if="${todoList.size()>0} ">
                <table class="table">
                    <thead>
                    <tr>
                        <th th:utext="#{lbl.title}">Title</th>
                        <th th:utext="#{lbl.created_date}"></th>
                        <th th:utext="#{lbl.modified_date}"></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t : ${todoList}">

                        <td th:if="${t.complete}" class="text-decoration-line-through" th:text="${t.description}"></td>
                        <td th:if="${!t.complete}"  th:text="${t.description}"></td>

                        <td th:if="${t.complete}" class="text-decoration-line-through" th:text="${t.createdDate}"></td>
                        <td th:if="${!t.complete}" th:text="${t.createdDate}"></td>

                        <td th:if="${t.complete}" class="text-decoration-line-through"th:text="${t.modifiedDate}"></td>
                        <td th:if="${!t.complete}" th:text="${t.modifiedDate}"></td>

                        <td>
                            <form action="/tasks/delete" method="post">
                                <input type="hidden" name="id" th:value="${t.id}">
                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form action="/tasks/edit" method="get">
                                <input type="hidden" name="id" th:value="${t.id}">
                                <button type="submit" class="btn btn-outline-primary"><i
                                        class="bi bi-pencil-square"></i>
                                </button>
                            </form>
                        </td>
                        <td th:if="${!t.complete}">
                            <form action="/tasks/change" method="post">
                                <input type="hidden" name="id" th:value="${t.id}">
                                <button type="submit" class="btn btn-outline-success mx-lg-3"><i class="bi bi-app"></i>
                                </button>
                            </form>
                        </td>
                        <td th:if="${t.complete}">
                            <form action="/tasks/change" method="post">
                                <input type="hidden" name="id" th:value="${t.id}">
                                <button type="submit" class="btn btn-success mx-lg-3"><i class="bi bi-check-lg"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-lg-end text-primary border-primary ">
                <p class="text-lg-end text-primary fs-5" ><a href="/tasks/json" th:text="#{lbl.jsondataexport}"></a></p>
            </div>


            <div th:if="${todoList.size()<=0}">
                <h2 th:text="#{lbl.task.leer}"></h2>
            </div>
            <b
            <br>


        </div>
    </div>
</main>

<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
